.Pokecard {
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
  width: 300px;
  border-radius: 1rem;
  margin: 1rem;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.Pokecard-title {
  color: #fff;
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

.Pokecard-image {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 250px;
  margin-bottom: 2rem;
}

.Pokecard-image img {
  width: 250px;
  opacity: 0.65;
  margin-bottom: 1rem;
  transition: all ease 500ms;
}

.Pokecard-image img:hover {
  opacity: 1;
  transform: scale(1.25);
}

.Pokecard-data {
  font-size: 80%;
}
